#Python Class 1

In [1]:
print("Hello World")

Hello World

In [1]:
'line1'
'line2'
'line3' # always return last line

'line3'

In [2]:
print('line1')
print('line2')
'line3' # always return last line

line1
line2

'line3'

In [2]:
name="areeb"
print(name)
print(type(name))
print(id(name))
print([i for i in dir(name) if "__" not in i])

areeb
<class 'str'>
2160350124848
['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

Class 2

In [1]:
message : str = 'PIAIC Student Card /n father's name' 
print(name)

SyntaxError: unterminated string literal (detected at line 1) (2014177030.py, line 1)

In [2]:
message : str = "PIAIC Student Card /n father's name"
print(message)

PIAIC Student Card /n father's name

In [7]:
message : str = 'PIAIC Student Card \nfather\'s name' 
print(message)

PIAIC Student Card
father's name

In [4]:
name : str = "Areeb Ahmed"
age: int = 7
message : str = 'PIAIC Student Card: ' + name + '\nAge:' + age'  
print(message)

SyntaxError: unterminated string literal (detected at line 3) (211321557.py, line 3)

In [21]:
name : str = "Areeb Ahmed"
age: int = 7
education:str = "Master in AI"
message : str = 'PIAIC Student Card: ' + name +\
'\nAge:' + str(age) +\
'\nEducation:' +education   
print(message)

PIAIC Student Card: Areeb Ahmed
Age:7
Education:Master in AI

Mutiple line Commment

In [22]:
name : str = "Areeb Ahmed"
age: int = 7
education:str = "Master in AI"
message : str = """'PIAIC Student Card: ' + name +\
'\nAge:' + str(age) +\
'\nEducation:' +education """   
print(message)

'PIAIC Student Card: ' + name +'
Age:' + str(age) +'
Education:' +education

F-string

In [8]:
name : str = "Areeb Ahmed"
age: int = 7
education:str = "Master in AI"
message : str = f"""PIAIC Student Card:{name} \
\nAge:  {str(age)} \
\nEducation: {education} """   
print(message)

PIAIC Student Card:Areeb Ahmed
Age:  7
Education: Master in AI

No need of type

In [29]:
name : str = "Areeb Ahmed"
age: int = 7
education:str = "Master in AI"
message : str = f"""PIAIC Student Card:{name} \
\nAge:{age} \
\nEducation:{education} """   
print(message)

PIAIC Student Card:Areeb Ahmed
Age:7
Education:Master in AI

Jinja style

In [32]:
"""
student name {{name}}
"""

'\nstudent name {{name}}\n'

In [33]:
name : str = "Areeb Ahmed"
age: int = 7
education:str = "Master in AI"
message : str = f"""PIAIC Student Card:%s \
\nAge:%d \
\nEducation:%s """ %(name,age,education)  
print(message)

PIAIC Student Card:Areeb Ahmed
Age:7
Education:Master in AI

In [36]:
a = 7
b = 9
"pakistan value a = {} and value a = {}".format(a,b)

'pakistan value a = 7 and value a = 9'

In [38]:
name : str = "Areeb Ahmed"
age: int = 7
education:str = "Master in AI"
message : str = """PIAIC Student Card:{} \
\nAge:{} \
\nEducation:{} """.format(name,age,education)  
print(message)

PIAIC Student Card:Areeb Ahmed
Age:7
Education:Master in AI

In [40]:
name : str = "Areeb Ahmed"
age: int = 7
education:str = "Master in AI"
message : str = """PIAIC Student Card:{0} \
\nEducation:{2} \
\nAge:{1} """.format(name,age,education)  
print(message)

PIAIC Student Card:Areeb Ahmed
Education:Master in AI
Age:7

In [41]:
name : str = "Areeb Ahmed"
age: int = 7
education:str = "Master in AI"
message : str = """PIAIC Student Card:{a} \
\nEducation:{c} \
\nAge:{b} """.format(a=name,b=age,c=education)  
print(message)

PIAIC Student Card:Areeb Ahmed
Education:Master in AI
Age:7

In [42]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [10]:
student_code : str = """
print("My Name is Muhammad Qasim")
a:int = 7
b:int = 8
print(a + b)
"""

exec(student_code)

My Name is Muhammad Qasim
15

String Method and attributes

In [1]:
name : str = "     Areeb Ahmed      "

#variable_name.method()
display(name)
print(name)
display(name.lstrip())

'     Areeb Ahmed      '

     Areeb Ahmed

'Areeb Ahmed      '

In [3]:
name : str = "      Areeb Ahmed         "

#variable_name.method()
display(name)
display(name.rstrip())

'      Areeb Ahmed         '

'      Areeb Ahmed'

In [5]:
name : str = "      Areeb      Ahmed        "

#variable_name.method()
display(name)
display(name.strip())

'      Areeb      Ahmed        '

'Areeb      Ahmed'

In [12]:
import re
name : str = "      Areeb           Ahmed         "

display(name)

name1 : str = re.sub(' {2,100}',' ', name)
display(name1)

'      Areeb           Ahmed         '

' Areeb Ahmed '

In [7]:
import re
name : str = "      Areeb           Ahmed         "

display(name)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'      Areeb           Ahmed         '

'Areeb Ahmed'